<header class="navbar">
    <div class="container">
      <div class="container_logo">
        <div class="logo">
          <a [routerLink]="['/']">
            <img
              src="assets/img/Logo.png"
              alt="Logo"
            />
          </a>
        </div>
      </div>
    </div>
  
    <!-- Navigation -->
    <div class="container_nav">
      <nav class="menu">
        <ul>
          <li><a [routerLink]="['/']">Accueil</a></li>
          <li><a [routerLink]="['artisans']">Artisans</a></li>
        </ul>
      </nav>
    </div>
  </header>
  