<footer class="text-center text-lg-start bg-body-tertiary text-muted" >
  
    <section class="">
      <div class="container text-center text-md-start mt-5" >
        <div class="row mt-3">

  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a [routerLink]="['/Mentions-Légales']" class="text-reset">Mentions Légales</a>
            </p>
            <p>
              <a [routerLink]="['/Données-personelles']" class="text-reset">Données personelles</a>
            </p>
            <p>
              <a [routerLink]="['/Accessibilité']" class="text-reset">Accessibilité</a>
            </p>
            <p>
              <a [routerLink]="['/Cookies']" class="text-reset">Cookies</a>
            </p>
          </div>
  
          
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Antenne à Lyon</h6>
            <p><i class="fas fa-home me-3"></i> 101 cours Charlemagne <br> CS 20033 <br> 69269 Lyon CEDEX 02 <br> France</p>
            <p><i class="fas fa-phone me-3"></i> +33 (0)4 26 73 40 00</p>
          </div>
        </div>

      </div>
    </section>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
    </div>
  </footer>
