.products-list {
    display: flex;
    justify-content: space-between;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
  }
  
  .product-image img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    border-radius: 50%;
    margin-left: 20px;
  }
  
  .product-details {
    padding: 20px;
  }
  
  .product-details h3 {
    margin-top: 0;
  }
  
  .product-details .description {
    margin-bottom: 10px;
  }
  
  